
        <form style="display:none" method="POST" name="giropayDepositForm" class="form-validate" id="deposit-form" novalidate>
            <input  ng-model="merchant_trans_id" name="MerchantTransactionID"/>
            <input  ng-model="merchant_id" name="MerchantID"  />
            <input  ng-model="txn_amount" name="Amount"  />
            <input  ng-model="txn_currency" name="Currency" />
            <input  ng-model="payment_method" name="MethodID"/>
            <input  ng-model="skip_hpp" name="SkipHPP"  />
            <input  ng-model="customer_name" name="CustomerName"/>
            <input  ng-model="customer_email" name="CustomerEmail"/>
            <input  ng-model="country" name="Country"/>
            <input  ng-model="language" name="Language"/>
            <input  ng-model="siteId" name="SiteID"/>
            <input  ng-model="return_url" name="ReturnURL"/>
            <input  ng-model="hash_id" name="Hash"/>
            
        </form>

     